<div class="jumbotron text-center">
    <hi class="display-3"> {{ title }}</hi>
    <p class="lead">Jot down ideas for your next YouTube Videos</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg"> Add Video Idea</a>
</div>